.w-webflow-badge {
  display: none !important;
}

::selection {
  color: #00db4a;
  background: #000;
}

html,
body {
  overscroll-behavior: none;
}

/* .canvas-embed {
  width: 100svw;
  height: 100svh;
} */

#canvas {
  width: 100%;
  height: 100%;
}

img,
.hero-h,
.taona-h {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
}

/* body {
  cursor: none;
} */
